.player_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border: 1px solid grey;
}
.head{
    flex-grow: 1;
    text-align: center;
}

.img_div{
    text-align: center;
}

.info_table{
    /* border: 1px solid blue; */
    width: 300px;
    height: 200px !important;
    margin: 5px auto;
}

tr{
    /* border: 1px solid saddlebrown; */
    /* width: 300px; */
    text-align: center;
}
.td{
    height: 20px !important;
    padding: 0px !important;
}